<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logoapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.TFG"
        tools:targetApi="31">
        <activity
            android:name=".LocalesDesayuno"
            android:exported="false" />
        <activity
            android:name=".LocalesRestaurantes"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BuscarLocales"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RecuContra"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallaPrincipal"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Registrarse"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".InicioSesion"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LoginyRegistro"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Comienzo"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>